@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/Oswald-VariableFont_wght.ttf");
}

* {
  font-family: "Oswald";
  margin: 0;
  padding: 0;
}

nav {
  border: solid 1px red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75% 1.5%;
}

#navTabsDiv {
  border: solid 1px red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 1200px;
}

/* ______________________________________________________________________ */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: max-content; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: -100px;
  background-color: #3f3f3f; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: solid 1px red;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  font-size: 36px;
}
/* ______________________________________________________________________ */

/* __________________________MEDIA QUERIES___________________________________ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width: 600px) {
  #navTabsDiv {
    display: none;
    background-color: saddlebrown;
  }
  h1 {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  #navTabsDiv {
    display: none;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* __________________________MEDIA QUERIES___________________________________ */
